
body {
	font-family: 'Inconsolata', monospace;
	font-size:16px;
}

.home-head{
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('images-portfolio/background.jpg');
	background-attachment: fixed;
	background-position: center;
}

header{
	position:fixed;
	padding: 10px 0;
	width: 100%;
	background-color:rgba(48, 48, 48, 0.6);
}

header nav{
	float:right;
	margin-top:10px;
}

header nav a{
	color:white;
	font-weight: bold;
	text-decoration:none;
	margin-left: 10px;
	padding: 10px 15px;
}

#home {
	text-align:center;
	padding:200px 0 150px;
}

#home h1{
	font-size: 68px;
	color: white;
	font-weight: normal;
	line-height: 1.2;
	margin-bottom: 40px;
}

#home p {
	color:white;
	font-size:20px;
}

#home .divider{
	width:200px;
	border-top:4px solid #1c9a71;
	margin:0 auto;
}

#home .social {
	margin-top: 80px;
}

#home .social a{
	color:white;
	display:inline-block;
	border-radius:50%;
	background-color:#1c9a71;
	font-size:24px;
	font-weight: bold;
	height: 50px;
	width: 50px;
	line-height: 50px;
	margin-right: 10px;
}

#home .social a:hover{
	background-color:black;
}

#profile{
	padding: 50px;
}

#profile h1{
	text-align: center;
}

#profile p{
	text-align: center;
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background-color: #000;
	padding:0 20px;
	height:35px;
	line-height:35px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#1c9a71;
	border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

#portfolio {
	padding: 50px;
}

#portfolio h1{
	text-align: center;
}

.container-portfolio{
	position: relative;
	width: 50px;
}

.image{
	display:block;
	width:100%;
	height: auto;
}

.overlay{
	position:absolute;
	bottom:100%;
	left:0;
	right: 0;
	background-color:#1c9a71;
	overflow: hidden;
	width: 100%
	height:auto;
	transition: .5s ease;
}

.text{
	white-space: nowrap;
	color:white;
	font-size: 20px;
	position:absolute;
	overflow: hidden;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);
}
.container{
	width:992px;
	margin-left: auto;
	margin-right: auto;
}