
body {
	font-family: 'Inconsolata', monospace;
	font-size:16px;
}

.home-head{
	background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('images-portfolio/background.jpg');
	background-attachment: fixed;
	background-position: center;
}

@media only screen and (max-width: 500px){
	.home-head{
		background-color: #fff;
	}
}

header{
	position:fixed;
	padding: 10px 0;
	width: 100%;
	background-color:rgba(48, 48, 48, 0.6);
}

header nav{
	float:right;
	margin-top:10px;
}

header nav a.active{
	background-color:#1c9a71;
	border-radius: 3px; 
}

header nav a{
	color:white;
	font-weight: bold;
	text-decoration:none;
	margin-left: 10px;
	padding: 10px 15px;
}

#home {
	text-align:center;
	padding:200px 0 150px;
}

#home h1{
	font-size: 68px;
	color: white;
	font-weight: normal;
	line-height: 1.2;
	margin-bottom: 40px;
}
@media (max-width:400px) {
	#home h1{
		font-size: 20px;
	}
}

#home p {
	color:white;
	font-size:20px;
}

#home .divider{
	width:200px;
	border-top:4px solid #1c9a71;
	margin:0 auto;
}

#profile{
	padding: 65px;
	margin-bottom: 50px;
}

#profile h1{
	text-align: center;
}

#profile p{
	text-align: center;
}

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background-color: #000;
	padding:0 20px;
	height:35px;
	line-height:35px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#1c9a71;
	border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

#portfolio {
	padding: 50px;
	background-color:#DDDDDD;
}

#portfolio h1{
	text-align: center;
}

#portfolio h2{
	text-align:center;
	color:#1c9a71;
}

.container-portfolio{
  display:inline-block;
  margin-top: 10px;
 
}
@media screen and (max-width: 640px){
  .container-portfolio{
    display: block;
    width: 100%;
  }
}

.container-portfolio .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}

.content {
  position: relative;
  width: 90%;
  max-width: 300px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 99%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 15px;
}

.fadeIn-top{
  top: 20%;
}
#contact-us h1{
	text-align: center;
}

#contact-us{
	padding: 50px;
	text-align: center;
	margin-bottom: 15px;
}

#contact-us .contact-icons {
	margin-top: 80px;
}

#contact-us .contact-icons a{
	color:white;
	display:inline-block;
	border-radius:50%;
	background-color:#1c9a71;
	font-size:24px;
	font-weight: bold;
	height: 50px;
	width: 50px;
	line-height: 50px;
	margin-right: 10px;
}

#contact-us .contact-icons a:hover{
	background-color:black;
}

.container-site{
	width:992px;
	margin-left: auto;
	margin-right: auto;
}